@charset "UTF-8";
html {
  min-height: 100vh;
}

body {
  background-color: black;
  text-align: center;
  font-size: 1em;
  font-style: normal;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  word-spacing: 1px;
  letter-spacing: 1px;
  line-height: 25px;
  color: white;
  position: relative;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

body .contenido-del-sitio {
  flex: 1;
}

body h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  color: #f800ff;
  font-size: 2em;
}

body h2 {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 3em;
  color: #f800ff;
  text-transform: uppercase;
  margin-top: 2%;
  margin-bottom: 3%;
}

body h3 {
  text-decoration: underline;
  text-decoration-style: dashed;
  font-size: 2em;
  font-family: 'Oswald';
  font-weight: bold;
  color: #00ff94;
  text-transform: capitalize;
  margin-bottom: 2rem;
}

/*Logo del menú*/
.logo-en-menu {
  margin-top: 5px;
  margin-left: 5px;
  width: 45px;
}

.logo-en-menu:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

/*Links*/
a:link {
  color: #00ff94;
  font-weight: bold;
}

/*Links visitados*/
a:visited {
  color: white;
  font-weight: bold;
}

/*Hover links*/
a:hover {
  color: #f800ff;
}

/*Sections*/
section {
  margin-bottom: 70px;
}

/*Articles*/
article {
  margin-bottom: 70px;
}

/*Titulo imagen sin animación*/
.titulo-sin-animacion {
  width: 600px;
  padding-top: 3rem;
  padding-bottom: 1rem;
}

/*Menú Bootstrap*/
.header .navbar .navbar-expand-lg .navbar-dark {
  background-color: black;
}

.header .navbar .navbar-expand-lg .navbar-dark .header-logo {
  margin-left: 25%;
}

.navbar-dark .navbar-nav .nav-link {
  color: #f800ff;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.menu-decoration a:hover {
  background-color: transparent;
  color: #00ff94;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: #00ff94;
}

.dropdown-menu {
  background-color: transparent;
  border: transparent;
}

a.dropdown-item {
  color: #f800ff;
  text-align: left;
  margin-left: -9px;
  background-color: transparent;
  border: transparent;
}

/*Título Tranki Punki Animado*/
.container-fluid {
  /*Vídeo y Player de música*/
}

.container-fluid .video {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 98vh;
  object-fit: cover;
  object-position: center;
  opacity: 1;
  z-index: -1;
}

.container-fluid .contenedor-del-titulo-animado {
  display: flex;
  width: 99%;
  height: 90vh;
  z-index: 0;
  align-items: center;
  justify-content: center;
}

.container-fluid .contenedor-del-titulo-animado .row .titulo-animado {
  align-items: center;
  justify-content: center;
  margin-bottom: 15vh;
  width: 100%;
  animation-duration: 8s;
  animation-name: aparecer;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container-fluid .audio-player {
  position: absolute;
  bottom: 15px;
  left: 0;
  padding-left: 5px;
  padding-right: 5px;
  z-index: 0;
  width: 100%;
}

/*PÁGINA BIO*/
.articulo-bio .texto-en-bloque {
  margin-left: 10%;
  margin-right: 10%;
  font-size: 1em;
  text-align: left;
}

/*GRID BIO*/
.seccion-integrantes .main {
  display: grid;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 0%;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  grid-gap: 10px;
}

.seccion-integrantes .main .todas {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 6;
}

.seccion-integrantes .main .pola {
  grid-column-start: 1;
  grid-row-start: 1;
}

.seccion-integrantes .vicky {
  grid-column-start: 1;
  grid-row-start: 2;
}

.seccion-integrantes .tuky {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

.seccion-integrantes .drela {
  grid-column-start: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

.seccion-integrantes .sofi {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
}

.seccion-integrantes .torchi {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 3;
}

.seccion-integrantes .crop {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/*CAPTIONS BIO GRID*/
figure.figurefx {
  width: 100%;
  height: 100%;
  padding: 0;
  display: block;
  position: relative;
  overflow: hidden;
  /* hide overflowing elements by default */
}

figure.figurefx figcaption {
  position: absolute;
  display: block;
  box-sizing: border-box;
  text-align: center;
  background: white;
  padding: 15px;
  z-index: 100;
  width: 100%;
  max-height: 100%;
  overflow: hidden;
  top: 50%;
  left: 0;
  /* position caption outside layout horizontally and centered vertically */
  transform: translate3d(-100%, -50%, 0);
  opacity: 0;
  transition: all 0.5s;
}

figure.figurefx figcaption a {
  text-decoration: none;
}

/*EFECTO PUSHUP BIO GRID*/
figure.pushup img {
  transform: translate3d(0, 0, 0);
  transition: all 0.5s;
}

figure.pushup figcaption {
  top: 100%;
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

figure.pushup:hover img {
  /* move image up vertically a bit for parallax effect */
  transform: translate3d(0, -20px, 0);
  opacity: .5;
}

figure.pushup:hover figcaption {
  /* move caption up vertically to fully reveal caption */
  transform: translate3d(0, -100%, 0);
  transition: all 0.5s;
}

/*PÁGINA MÚSICA*/
.section-musica .bloque {
  display: flex;
  flex-flow: wrap row;
  justify-content: space-evenly;
}

.section-musica .bloque .iframe-musica {
  margin-top: 10%;
  margin-bottom: 10%;
  border: 0;
  width: 500px;
  height: 620px;
}

.section-musica .bloque .iframe-musica:hover {
  transform: scale(1.1, 1.1);
}

/*PÁGINA VÍDEOS*/
.videos {
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
}

.videos .cada-video {
  padding: 1%;
}

.videos .cada-video:hover {
  transform: scale(1.1, 1.1);
}

/*PÁGINA PRENSA*/
.texto-en-bloque {
  margin-left: 10%;
  margin-right: 10%;
  font-size: 1em;
  text-align: center;
}

/*GRID PRENSA*/
.seccion-prensa {
  margin-left: 150px;
  margin-right: 150px;
}

.seccion-prensa .prensa-main {
  display: grid;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 3%;
  margin-bottom: 0%;
  grid-template-columns: 20% 30% 30% 20%;
  grid-template-rows: 33% 33% 34%;
  grid-row-gap: 50px;
}

.seccion-prensa .prensa-link {
  width: 100%;
  height: 100%;
}

.seccion-prensa .telam {
  grid-column-start: 2;
  grid-row-start: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.seccion-prensa .lavoz {
  grid-column-start: 2;
  grid-row-start: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.seccion-prensa .cba24n {
  grid-column-start: 2;
  grid-row-start: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.seccion-prensa .indiehoy {
  grid-column-start: 3;
  grid-row-start: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.seccion-prensa .laizquierdadiario {
  grid-column-start: 3;
  grid-row-start: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.seccion-prensa .marcha {
  grid-column-start: 3;
  grid-row-start: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.seccion-prensa .prensa-link-width {
  width: 90%;
}

.seccion-prensa .prensa-link-width:hover {
  transform: scale(1.1, 1.1);
}

/*Formulario*/
.seccion-contacto .formulario {
  padding: 9px;
  font-size: 20px;
}

.seccion-contacto .formulario .textarea-width {
  width: 750px;
}

.seccion-contacto .formulario .boton-formulario {
  background-color: black;
  color: #f800ff;
  border-color: #f800ff;
  padding: 15px 32px;
  margin-top: 10px;
  text-align: center;
  font-size: 20px;
}

.seccion-contacto .formulario .boton-formulario:hover {
  background-color: #00ff94;
  border-color: white;
  color: black;
}

/*Footer*/
hr {
  background: linear-gradient(90deg, black 0%, #00ff94 35%, #f800ff 70%, black 100%);
  height: 5px;
  border: none;
}

footer .color-blanco {
  font-size: 0.83333em;
  color: white;
}

footer .color-blanco .color-fucsia {
  font-size: 1.08333em;
  color: #f800ff;
  font-weight: bold;
  text-decoration-line: none;
}

footer .color-blanco .color-fucsia:hover {
  color: #00ff94;
}

footer .color-verde {
  font-size: 0.83333em;
  color: #00ff94;
}

footer .footer-del-index {
  position: absolute;
  bottom: -350px;
  left: 0;
  z-index: 0;
  width: 99%;
}

footer .footer-del-index h1 {
  margin-top: 2%;
  margin-bottom: 2%;
}

footer .footer-paginas {
  position: absolute;
  bottom: -100px;
  left: 0;
  z-index: 0;
  width: 99%;
}

footer .nav-del-footer .nav-del-footer-main {
  display: grid;
  margin-left: 13%;
  margin-right: 16%;
  margin-top: 1%;
  margin-bottom: 1%;
  grid-template-columns: 30% 5% 4% 6% 6% 6% 7% 7% 29%;
  grid-template-rows: 100%;
  grid-row-gap: 50px;
}

footer .nav-del-footer .inicio-li {
  grid-column-start: 2;
  grid-row-start: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .nav-del-footer .bio-li {
  grid-column-start: 3;
  grid-row-start: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .nav-del-footer .musica-li {
  grid-column-start: 4;
  grid-row-start: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .nav-del-footer .videos-li {
  grid-column-start: 5;
  grid-row-start: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .nav-del-footer .galeria-li {
  grid-column-start: 6;
  grid-row-start: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .nav-del-footer .prensa-li {
  grid-column-start: 7;
  grid-row-start: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .nav-del-footer .contacto-li {
  grid-column-start: 8;
  grid-row-start: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .nav-del-footer .footer-nav-link {
  font-size: 0.83333em;
  color: gray;
  text-decoration-line: none;
}

footer .nav-del-footer .footer-nav-link:hover {
  color: #f800ff;
}

footer .rrss {
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 40%;
  margin-right: 40%;
}

footer .rrss .rrss-main {
  display: grid;
  grid-template-columns: 17% 17% 16% 16% 17% 17%;
  grid-template-rows: 0;
  grid-row-gap: 0px;
}

footer .rrss .rrss-link {
  width: 100%;
  height: 100%;
}

footer .rrss .instagram {
  grid-column-start: 1;
  grid-row-start: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .rrss .facebook {
  grid-column-start: 2;
  grid-row-start: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .rrss .youtube {
  grid-column-start: 3;
  grid-row-start: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .rrss .twitter {
  grid-column-start: 4;
  grid-row-start: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .rrss .spotify {
  grid-column-start: 5;
  grid-row-start: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .rrss .whatsapp {
  grid-column-start: 6;
  grid-row-start: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .rrss .rrss-width {
  width: 60%;
}

footer .rrss .rrss-width:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

/*MOBILE XL MEDIA QUERY*/
@media only screen and (min-width: 375px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  /*Estilos generales*/
  body {
    font-size: 1em;
    margin-left: 0;
  }
  body h2 {
    font-size: 3em;
    margin-bottom: 6%;
    color: #f800ff;
  }
  body h3 {
    font-size: 2em;
    margin-bottom: 5%;
    color: #00ff94;
  }
  section {
    margin-bottom: 30px;
  }
  article {
    margin-bottom: 30px;
  }
  /*Logo del menú*/
  .logo-en-menu {
    margin-top: 5px;
    margin-left: 5px;
    width: 35px;
  }
  .logo-en-menu:hover {
    animation: none;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    opacity: 1;
    transition: none;
  }
  /*Título Tranki Punki*/
  .titulo-sin-animacion {
    width: 300px;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  body {
    width: 100%;
  }
  /*Menú*/
  .dropdown-toggle {
    margin-bottom: -10px;
  }
  a.dropdown-item {
    color: #f800ff;
    font-size: 15px;
    text-align: center;
    margin-left: auto;
    margin-bottom: 3px;
  }
  /*PÁGINA BIO*/
  /*Grid*/
  .seccion-integrantes {
    margin-bottom: 20%;
  }
  .seccion-integrantes main {
    width: 70%;
  }
  /*EFECTO PUSHUP BIO GRID*/
  figure.pushup:hover {
    animation: none;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    opacity: 1;
    transition: none;
  }
  figure.pushup figcaption:hover {
    animation: none;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    opacity: 1;
    transition: none;
  }
  /*PÁGINA MÚSICA*/
  .section-musica .bloque .iframe-musica {
    margin-top: 5%;
    margin-bottom: 7%;
    border: 0;
    width: 340px;
    height: 460px;
  }
  /*PÁGINA VÍDEOS*/
  .videos {
    margin-bottom: -20px;
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
  }
  .videos .cada-video {
    max-width: 90%;
    padding: 5%, 5%, 5%, 5%;
  }
  /*PÁGINA PRENSA*/
  .texto-en-bloque {
    margin-left: 5%;
    margin-right: 5%;
    font-size: 1em;
    text-align: center;
  }
  /*GRID PRENSA*/
  .seccion-prensa {
    margin-left: 0px;
    margin-right: 0px;
  }
  .seccion-prensa .prensa-main {
    grid-row-gap: 80px;
    margin-top: 40px;
    margin-bottom: 90px;
    grid-template-columns: 5% 45% 45% 5%;
  }
  .seccion-prensa .prensa-link-width {
    width: 80%;
  }
  /*CONTACTO FORMULARIO*/
  .seccion-contacto {
    margin-left: 5%;
    margin-right: 5%;
  }
  .seccion-contacto .formulario {
    font-size: 1em;
  }
  .seccion-contacto .formulario .textarea-width {
    width: 340px;
  }
  .seccion-contacto .formulario .boton-formulario {
    padding: 5px 32px;
    margin-top: 10px;
    text-align: center;
    font-size: 1em;
  }
  /*FOOTER*/
  footer .footer-del-index {
    margin-bottom: 50px;
  }
  footer .footer-del-index h1 {
    font-size: 1.81818em;
  }
  footer .footer-del-index .color-verde {
    font-size: 0.83333em;
    color: #00ff94;
    margin-bottom: 5px;
  }
  footer .footer-del-index .color-fucsia {
    font-size: 0.83333em;
    color: #f800ff;
    font-weight: bold;
    text-decoration-line: none;
  }
  footer .footer-del-index .color-fucsia:hover {
    color: #f800ff;
  }
  footer .footer-del-index .color-blanco {
    font-size: 0.83333em;
    color: white;
  }
  footer .footer-del-index .footer-del-index {
    position: absolute;
    bottom: -350px;
    left: 0;
    z-index: 0;
    width: 99%;
  }
  footer .footer-del-index .footer-del-index h1 {
    margin-top: 2%;
    margin-bottom: 2%;
  }
  footer .footer-del-index .footer-paginas {
    position: absolute;
    bottom: -100px;
    left: 0;
    z-index: 0;
    width: 99%;
  }
  footer .footer-del-index .nav-del-footer .nav-del-footer-main {
    display: grid;
    margin-left: 8%;
    margin-right: 12%;
    margin-top: 5%;
    margin-bottom: 1%;
    grid-template-columns: 5% 20% 15% 30% 20% 5%;
    grid-template-rows: 50% 50%;
    grid-row-gap: 5px;
  }
  footer .footer-del-index .nav-del-footer .inicio-li {
    display: grid;
    align-self: center;
    justify-content: flex-start;
    grid-column: 2;
    grid-row: 1;
  }
  footer .footer-del-index .nav-del-footer .bio-li {
    display: grid;
    align-self: center;
    grid-column: 3;
    grid-row: 1;
  }
  footer .footer-del-index .nav-del-footer .musica-li {
    display: grid;
    align-self: center;
    grid-column: 4;
    grid-row: 1;
  }
  footer .footer-del-index .nav-del-footer .videos-li {
    display: grid;
    align-self: center;
    justify-content: flex-end;
    grid-column: 5;
    grid-row: 1;
  }
  footer .footer-del-index .nav-del-footer .galeria-li {
    display: grid;
    align-self: center;
    justify-content: flex-start;
    grid-column: 2;
    grid-row: 2;
  }
  footer .footer-del-index .nav-del-footer .prensa-li {
    display: grid;
    align-self: center;
    grid-row: 2;
    grid-column: 3 / 5;
  }
  footer .footer-del-index .nav-del-footer .contacto-li {
    display: grid;
    align-self: center;
    justify-content: flex-end;
    grid-column: 5;
    grid-row: 2;
  }
  footer .footer-del-index .nav-del-footer a.footer-nav-link {
    font-size: 11px;
    color: gray;
    text-decoration-line: none;
  }
  footer .footer-del-index .nav-del-footer a.footer-nav-link:hover {
    color: gray;
  }
  footer .footer-del-index .rrss {
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 20%;
    margin-right: 20%;
  }
  footer .footer-del-index .rrss .rrss-width {
    width: 60%;
  }
  footer .footer-del-index .rrss .rrss-width:hover {
    animation: none;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    opacity: 1;
    transition: none;
  }
}

/*MOBILE MEDIA QUERY*/
@media only screen and (min-width: 280px) and (orientation: portrait) {
  /*Estilos generales*/
  body {
    font-size: 0.76923em;
    margin-left: 0;
  }
  body h2 {
    font-size: 2em;
    margin-bottom: 8%;
    color: #f800ff;
  }
  body h3 {
    font-size: 1.33333em;
    margin-bottom: 5%;
    color: #00ff94;
  }
  section {
    margin-bottom: 30px;
  }
  article {
    margin-bottom: 30px;
  }
  /*Logo del menú*/
  .logo-en-menu {
    margin-top: 5px;
    margin-left: 5px;
    width: 30px;
  }
  .logo-en-menu:hover {
    animation: none;
    transform: none;
  }
  /*Título Tranki Punki*/
  .titulo-sin-animacion {
    width: 250px;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  body {
    width: 100%;
  }
  /*Menú*/
  .dropdown-toggle {
    margin-bottom: -10px;
  }
  a.dropdown-item {
    color: #f800ff;
    font-size: 12px;
    text-align: center;
    margin-left: auto;
    margin-bottom: 3px;
  }
  /*PÁGINA INDEX*/
  /*Video background*/
  .container-fluid .video {
    opacity: 0.5;
  }
  /*PÁGINA BIO*/
  /*Grid*/
  .seccion-integrantes {
    margin-bottom: 20%;
  }
  .seccion-integrantes main {
    width: 70%;
  }
  /*EFECTO PUSHUP BIO GRID*/
  figure.pushup:hover {
    animation: none;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    opacity: 1;
    transition: none;
  }
  figure.pushup figcaption:hover {
    animation: none;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    opacity: 1;
    transition: none;
  }
  /*PÁGINA MÚSICA*/
  .section-musica {
    margin-bottom: -10px;
  }
  .section-musica .bloque .iframe-musica {
    margin-top: 5%;
    margin-bottom: -15%;
    border: 0;
    width: 260px;
    height: 460px;
  }
  /*PÁGINA VÍDEOS*/
  .videos {
    margin-bottom: -10px;
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
  }
  .videos .cada-video {
    margin-bottom: 0%;
    max-width: 90%;
    padding: 5%, 5%, 5%, 5%;
  }
  /*PÁGINA PRENSA*/
  .texto-en-bloque {
    margin-left: 5%;
    margin-right: 5%;
    font-size: 1em;
    text-align: center;
  }
  /*GRID PRENSA*/
  .seccion-prensa {
    margin-left: 0px;
    margin-right: 0px;
  }
  .seccion-prensa .prensa-main {
    grid-row-gap: 25px;
    margin-top: 40px;
    margin-bottom: 90px;
    grid-template-columns: 5% 45% 45% 5%;
  }
  .seccion-prensa .prensa-link-width {
    width: 80%;
  }
  /*CONTACTO FORMULARIO*/
  .seccion-contacto {
    margin-left: 5%;
    margin-right: 5%;
  }
  .seccion-contacto .formulario {
    font-size: 1em;
  }
  .seccion-contacto .formulario .textarea-width {
    width: 240px;
  }
  .seccion-contacto .formulario .boton-formulario {
    padding: 5px 32px;
    margin-top: 10px;
    text-align: center;
    font-size: 1em;
  }
  footer h1 {
    font-size: 1.25em;
  }
  footer .color-verde {
    font-size: 0.75758em;
    color: #00ff94;
    margin-bottom: 5px;
  }
  footer .footer-del-index {
    position: absolute;
    bottom: -250px;
    left: 0;
    z-index: 0;
    width: 99%;
  }
  footer .footer-del-index h1 {
    margin-top: 2%;
    margin-bottom: 2%;
  }
  footer .footer-paginas {
    position: absolute;
    bottom: -100px;
    left: 0;
    z-index: 0;
    width: 99%;
  }
  footer .color-fucsia {
    font-size: 0.75758em;
    color: #f800ff;
    font-weight: bold;
    text-decoration-line: none;
  }
  footer .color-fucsia:hover {
    color: #f800ff;
  }
  footer .color-blanco {
    font-size: 0.75758em;
    color: white;
  }
  footer .nav-del-footer .nav-del-footer-main {
    display: grid;
    margin-left: 2%;
    margin-right: 8%;
    margin-top: 5%;
    margin-bottom: 1%;
    grid-template-columns: 5% 20% 15% 30% 20% 5%;
    grid-template-rows: 50% 50%;
    grid-row-gap: 5px;
  }
  footer .nav-del-footer .inicio-li {
    display: grid;
    align-self: center;
    justify-content: flex-start;
    grid-column: 2;
    grid-row: 1;
  }
  footer .nav-del-footer .bio-li {
    display: grid;
    align-self: center;
    grid-column: 3;
    grid-row: 1;
  }
  footer .nav-del-footer .musica-li {
    display: grid;
    align-self: center;
    grid-column: 4;
    grid-row: 1;
  }
  footer .nav-del-footer .videos-li {
    display: grid;
    align-self: center;
    justify-content: flex-end;
    grid-column: 5;
    grid-row: 1;
  }
  footer .nav-del-footer .galeria-li {
    display: grid;
    align-self: center;
    justify-content: flex-start;
    grid-column: 2;
    grid-row: 2;
  }
  footer .nav-del-footer .prensa-li {
    display: grid;
    align-self: center;
    grid-row: 2;
    grid-column: 3 / 5;
  }
  footer .nav-del-footer .contacto-li {
    display: grid;
    align-self: center;
    justify-content: flex-end;
    grid-column: 5;
    grid-row: 2;
  }
  footer .nav-del-footer .footer-nav-link {
    font-size: 9px;
    color: gray;
    text-decoration-line: none;
  }
  footer .nav-del-footer .footer-nav-link:hover {
    color: gray;
  }
  footer .rrss {
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 20%;
    margin-right: 20%;
  }
  footer .rrss .rrss-width {
    width: 60%;
  }
  footer .rrss .rrss-width:hover {
    animation: none;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    opacity: 1;
    transition: none;
  }
}

/*MOBILE MEDIA QUERY*/
@media only screen and (min-width: 360px) and (max-width: 640px) and (orientation: portrait) {
  /*Estilos generales*/
  body {
    font-size: 0.76923em;
    margin-left: 0;
  }
  body h2 {
    font-size: 2em;
    margin-bottom: 8%;
    color: #f800ff;
  }
  body h3 {
    font-size: 1.33333em;
    margin-bottom: 5%;
    color: #00ff94;
  }
  section {
    margin-bottom: 30px;
  }
  article {
    margin-bottom: 30px;
  }
  /*Logo del menú*/
  .logo-en-menu {
    margin-top: 5px;
    margin-left: 5px;
    width: 30px;
  }
  .logo-en-menu:hover {
    animation: none;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    opacity: 1;
    transition: none;
  }
  /*Título Tranki Punki*/
  .titulo-sin-animacion {
    width: 250px;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  body {
    width: 100%;
  }
  /*Menú*/
  .dropdown-toggle {
    margin-bottom: -10px;
  }
  a.dropdown-item {
    color: #f800ff;
    font-size: 12px;
    text-align: center;
    margin-left: auto;
    margin-bottom: 3px;
  }
  /*PÁGINA INDEX*/
  /*Video background*/
  .container-fluid .video {
    opacity: 0.5;
  }
  /*PÁGINA BIO*/
  /*Grid*/
  .seccion-integrantes {
    margin-bottom: 20%;
  }
  .seccion-integrantes main {
    width: 70%;
  }
  /*EFECTO PUSHUP BIO GRID*/
  figure.pushup figcaption {
    opacity: 0;
  }
  figure.pushup:hover {
    animation: none;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    opacity: 1;
    transition: none;
  }
  /*PÁGINA MÚSICA*/
  .section-musica .bloque .iframe-musica {
    margin-top: 5%;
    margin-bottom: 7%;
    border: 0;
    width: 340px;
    height: 460px;
  }
  /*PÁGINA VÍDEOS*/
  .videos {
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
  }
  .videos .cada-video {
    margin-bottom: 0px;
    max-width: 90%;
    padding: 5%, 5%, 5%, 5%;
  }
  /*PÁGINA PRENSA*/
  .texto-en-bloque {
    margin-left: 5%;
    margin-right: 5%;
    font-size: 1em;
    text-align: center;
  }
  /*GRID PRENSA*/
  .seccion-prensa {
    margin-left: 0px;
    margin-right: 0px;
  }
  .seccion-prensa .prensa-main {
    grid-row-gap: 40px;
    margin-top: 40px;
    margin-bottom: 90px;
    grid-template-columns: 5% 45% 45% 5%;
  }
  .seccion-prensa .prensa-link-width {
    width: 80%;
  }
  /*CONTACTO FORMULARIO*/
  .seccion-contacto {
    margin-left: 5%;
    margin-right: 5%;
  }
  .seccion-contacto .formulario {
    font-size: 1em;
  }
  .seccion-contacto .formulario .textarea-width {
    width: 270px;
  }
  .seccion-contacto .formulario .boton-formulario {
    padding: 5px 32px;
    margin-top: 10px;
    text-align: center;
    font-size: 1em;
  }
  /*FOOTER*/
  .footer-del-index {
    margin-bottom: 80px;
  }
  footer h1 {
    font-size: 1.33333em;
  }
  footer .color-verde {
    font-size: 0.83333em;
    color: #00ff94;
    margin-bottom: 5px;
  }
  footer .color-fucsia {
    font-size: 0.83333em;
    color: #f800ff;
    font-weight: bold;
    text-decoration-line: none;
  }
  footer .color-fucsia:hover {
    color: #f800ff;
  }
  footer .color-blanco {
    font-size: 0.83333em;
    color: white;
  }
  footer .footer-del-index {
    position: absolute;
    bottom: -350px;
    left: 0;
    z-index: 0;
    width: 99%;
  }
  footer .footer-del-index h1 {
    margin-top: 2%;
    margin-bottom: 2%;
  }
  footer .footer-paginas {
    position: absolute;
    bottom: -100px;
    left: 0;
    z-index: 0;
    width: 99%;
  }
  footer .nav-del-footer .nav-del-footer-main {
    display: grid;
    margin-left: 3%;
    margin-right: 6%;
    margin-top: 5%;
    margin-bottom: 1%;
    grid-template-columns: 5% 20% 15% 30% 20% 5%;
    grid-template-rows: 50% 50%;
    grid-row-gap: 5px;
  }
  footer .nav-del-footer .inicio-li {
    display: grid;
    align-self: center;
    justify-content: flex-start;
    grid-column: 2;
    grid-row: 1;
  }
  footer .nav-del-footer .bio-li {
    display: grid;
    align-self: center;
    grid-column: 3;
    grid-row: 1;
  }
  footer .nav-del-footer .musica-li {
    display: grid;
    align-self: center;
    grid-column: 4;
    grid-row: 1;
  }
  footer .nav-del-footer .videos-li {
    display: grid;
    align-self: center;
    justify-content: flex-end;
    grid-column: 5;
    grid-row: 1;
  }
  footer .nav-del-footer .galeria-li {
    display: grid;
    align-self: center;
    justify-content: flex-start;
    grid-column: 2;
    grid-row: 2;
  }
  footer .nav-del-footer .prensa-li {
    display: grid;
    align-self: center;
    grid-row: 2;
    grid-column: 3 / 5;
  }
  footer .nav-del-footer .contacto-li {
    display: grid;
    align-self: center;
    justify-content: flex-end;
    grid-column: 5;
    grid-row: 2;
  }
  footer .nav-del-footer .footer-nav-link {
    font-size: 9px;
    color: gray;
    text-decoration-line: none;
  }
  footer .nav-del-footer .footer-nav-link:hover {
    color: gray;
  }
  footer .rrss {
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 20%;
    margin-right: 20%;
  }
  footer .rrss .rrss-width {
    width: 60%;
  }
  footer .rrss .rrss-width:hover {
    animation: none;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    opacity: 1;
    transition: none;
  }
}

/*TABLET MEDIA QUERY*/
@media only screen and (min-width: 640px) and (orientation: portrait) {
  body {
    font-size: 0.90909em;
    margin-left: 0;
  }
  body h2 {
    font-size: 2.5em;
    margin-bottom: 6%;
    color: #f800ff;
  }
  body h3 {
    font-size: 1.66667em;
    margin-bottom: 5%;
    color: #00ff94;
  }
  section {
    margin-bottom: 30px;
  }
  article {
    margin-bottom: 30px;
  }
  /*Logo del menú*/
  .logo-en-menu {
    margin-top: 5px;
    margin-left: 5px;
    width: 35px;
  }
  .logo-en-menu:hover {
    animation: none;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    opacity: 1;
    transition: none;
  }
  /*Título Tranki Punki*/
  .titulo-sin-animacion {
    width: 300px;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  body {
    width: 100%;
  }
  /*Menú*/
  .dropdown-toggle {
    margin-bottom: -10px;
  }
  a.dropdown-item {
    color: #f800ff;
    font-size: 15px;
    text-align: center;
    margin-left: auto;
    margin-bottom: 3px;
  }
  /*PÁGINA BIO*/
  /*Grid*/
  .seccion-integrantes {
    margin-bottom: 10%;
  }
  .seccion-integrantes main {
    width: 75%;
  }
  /*EFECTO PUSHUP BIO GRID*/
  figure.pushup figcaption {
    opacity: 0;
  }
  figure.pushup:hover {
    animation: none;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    opacity: 1;
    transition: none;
  }
  /*PÁGINA MÚSICA*/
  .section-musica {
    margin-bottom: -20px;
  }
  .section-musica .bloque .iframe-musica {
    margin-top: 5%;
    margin-bottom: 7%;
    border: 0;
    width: 340px;
    height: 460px;
  }
  /*PÁGINA VÍDEOS*/
  .videos {
    margin-bottom: 15px;
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
  }
  .videos .cada-video {
    margin-bottom: 15px;
    max-width: 90%;
    padding: 5%, 5%, 5%, 5%;
  }
  /*PÁGINA PRENSA*/
  .texto-en-bloque {
    margin-left: 5%;
    margin-right: 5%;
    font-size: 1em;
    text-align: center;
  }
  /*GRID PRENSA*/
  .seccion-prensa {
    margin-bottom: 160px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .seccion-prensa .prensa-main {
    grid-row-gap: 50px;
    margin-top: 60px;
    margin-bottom: 80px;
    grid-template-columns: 5% 45% 45% 5%;
  }
  .seccion-prensa .prensa-link-width {
    width: 70%;
  }
  /*CONTACTO FORMULARIO*/
  .seccion-contacto {
    margin-left: 5%;
    margin-right: 5%;
  }
  .seccion-contacto .formulario {
    font-size: 1em;
  }
  .seccion-contacto .formulario .textarea-width {
    width: 600px;
  }
  .seccion-contacto .formulario .boton-formulario {
    padding: 5px 32px;
    margin-top: 10px;
    text-align: center;
    font-size: 1em;
  }
}

/*NOTEBOOK MEDIA QUERY*/
@media only screen and (min-width: 1200px) and (orientation: landscape) {
  /*Estilos generales*/
  body {
    font-size: 1.1em;
    margin-left: 0;
  }
  body h2 {
    font-size: 3em;
    margin-bottom: 4%;
    color: #f800ff;
  }
  body h3 {
    font-size: 2em;
    margin-bottom: 5%;
    color: #00ff94;
  }
  section {
    margin-bottom: 30px;
  }
  article {
    margin-bottom: 60px;
  }
  /*Logo del menú*/
  .logo-en-menu {
    margin-top: 5px;
    margin-left: 5px;
    width: 45px;
  }
  .logo-en-menu:hover {
    animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }
  /*Título Tranki Punki*/
  .titulo-sin-animacion {
    width: 600px;
    padding-top: 3rem;
    padding-bottom: 1rem;
  }
  body {
    width: 100%;
  }
  /*Menú*/
  .dropdown-toggle {
    margin-bottom: -10px;
  }
  a.dropdown-item {
    color: #f800ff;
    font-size: 18px;
    text-align: right;
    margin-left: -20px;
    margin-bottom: 3px;
  }
  /*PÁGINA INDEX*/
  /*Título Tranki Punki Animado*/
  .container-fluid {
    /*Vídeo y Player de música*/
  }
  .container-fluid .contenedor-del-titulo-animado .row .titulo-animado {
    width: 90%;
  }
  .container-fluid .audio-player {
    bottom: 10px;
  }
  /*PÁGINA BIO*/
  /*Grid*/
  .seccion-integrantes {
    margin-bottom: 10%;
  }
  .seccion-integrantes main {
    width: 75%;
  }
  .seccion-integrantes figure.pushup img {
    transform: translate3d(0, 0, 0);
    transition: all 0.5s;
  }
  .seccion-integrantes figure.pushup figcaption {
    top: 100%;
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  .seccion-integrantes figure.pushup:hover img {
    /* move image up vertically a bit for parallax effect */
    transform: translate3d(0, -20px, 0);
    opacity: .5;
  }
  .seccion-integrantes figure.pushup:hover figcaption {
    /* move caption up vertically to fully reveal caption */
    transform: translate3d(0, -100%, 0);
    transition: all 0.5s;
  }
  /*PÁGINA MÚSICA*/
  .section-musica .bloque {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-evenly;
  }
  .section-musica .bloque .iframe-musica {
    margin-top: 10%;
    margin-bottom: 10%;
    border: 0;
    width: 500px;
    height: 620px;
  }
  .section-musica .bloque .iframe-musica:hover {
    transform: scale(1.1, 1.1);
  }
  /*PÁGINA VÍDEOS*/
  .videos {
    margin-bottom: 15px;
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
  }
  .videos .cada-video {
    max-width: 90%;
    padding: 5%, 5%, 5%, 5%;
  }
  /*PÁGINA PRENSA*/
  .texto-en-bloque {
    margin-left: 5%;
    margin-right: 5%;
    font-size: 1em;
    text-align: center;
  }
  /*GRID PRENSA*/
  .seccion-prensa {
    margin-left: 150px;
    margin-right: 150px;
  }
  .seccion-prensa .prensa-main {
    display: grid;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 12%;
    grid-template-columns: 20% 30% 30% 20%;
    grid-template-rows: 33% 33% 34%;
    grid-row-gap: 50px;
  }
  .seccion-prensa .prensa-link {
    width: 90%;
    height: 100%;
  }
  .seccion-prensa .telam {
    grid-column-start: 2;
    grid-row-start: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .seccion-prensa .lavoz {
    grid-column-start: 2;
    grid-row-start: 2;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .seccion-prensa .cba24n {
    grid-column-start: 2;
    grid-row-start: 3;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .seccion-prensa .indiehoy {
    grid-column-start: 3;
    grid-row-start: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .seccion-prensa .laizquierdadiario {
    grid-column-start: 3;
    grid-row-start: 2;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .seccion-prensa .marcha {
    grid-column-start: 3;
    grid-row-start: 3;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .seccion-prensa .prensa-link-width {
    width: 90%;
  }
  .seccion-prensa .prensa-link-width:hover {
    transform: scale(1.1, 1.1);
  }
  /*CONTACTO FORMULARIO*/
  .seccion-contacto {
    margin-left: 5%;
    margin-right: 5%;
  }
  .seccion-contacto .formulario {
    font-size: 1em;
  }
  .seccion-contacto .formulario .textarea-width {
    width: 700px;
  }
  .seccion-contacto .formulario .boton-formulario {
    padding: 5px 32px;
    margin-top: 10px;
    text-align: center;
    font-size: 1em;
  }
}

/*TABLET MEDIA QUERY LANDSCAPE*/
@media only screen and (min-width: 640px) and (max-width: 1024px) and (orientation: landscape) {
  a.dropdown-item {
    color: #f800ff;
    font-size: 15px;
    text-align: right;
    margin-left: -55px;
    margin-bottom: 3px;
  }
}
/*# sourceMappingURL=estilos.css.map */