/*PÁGINA BIO*/
.articulo-bio{
    .texto-en-bloque{
        margin-left: 10%;
        margin-right: 10%;
        font-size: $textobody;
        text-align: left;
    }
}
/*GRID BIO*/
.seccion-integrantes{
    .main{
        display: grid;
        margin-left: 10%;
        margin-right: 10%;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 20% 20% 20% 20% 20%;
        grid-gap: 10px;
    .todas{
        grid-column-start: 1;
        grid-column-end: 5;  
        grid-row-start: 4;
        grid-row-end: 6;
    }
    .pola{
        grid-column-start: 1; 
        grid-row-start: 1;
        }
    }
    .vicky{
        grid-column-start: 1;  
        grid-row-start: 2;
    }
    .tuky{
        grid-column-start: 2;
        grid-column-end: 4;  
        grid-row-start: 1;
        grid-row-end: 3;
    }
    .drela{
        grid-column-start: 4;  
        grid-row-start: 1;
        grid-row-end: 3;
    }
    .sofi{
        grid-column-start: 1; 
        grid-column-end: 3; 
        grid-row-start: 3;
    }
    .torchi{
        grid-column-start: 3;
        grid-column-end: 5;  
        grid-row-start: 3;
    }
    .crop{
        object-fit:cover;
        width: 100%;
        height: 100%;
    }
}

