/*Formulario*/
.seccion-contacto{
    .formulario{
        padding: 9px;
        font-size: 20px;
        .textarea-width{
            width: 750px;
        }
        .boton-formulario{
            background-color: $negro;
            color: $fucsia;
            border-color: $fucsia;
            padding: 15px 32px;
            margin-top: 10px;
            text-align: center;
            font-size: 20px;
            &:hover{
                background-color: $verde;
                border-color: $blanco;
                color: $negro;
            }
        }
    }
}
