/*Footer*/
hr{
    background: $gradiente;
    height: 5px;
    border: none;
}
footer{
    color: $verde;
    font-size: $textofooter;
    .texto-derechos{
        color: $fucsia;
    }
    .footer-del-index{
        position: absolute;
        bottom: -120px;
        left: 0;
        z-index:0;
        width: 99%;
    }
    .footer-paginas{
        position: absolute;
        bottom: -100px;
        left: 0;
        z-index:0;
        width: 99%;
    }
}
