/*Título Tranki Punki Animado*/
.container{
    .row{
        .titulo-animado {
            width: 70%;
            margin-top: 23%;
            animation-duration: 8s;
            animation-name: aparecer;
            animation-iteration-count: 1;
            animation-fill-mode: both;
            @keyframes aparecer {
                    0% {
                        opacity: 0;
                        }
                    100% {
                        opacity: 1;
                        }
            }
        }
    }
}
/*Vídeo y Player de música*/
.video{
    position: absolute;
    top: 110px;
    left: 0;
    width: 100%;
    height: 71%;
    object-fit: cover;
    object-position: center;
}
.audio-player{
    margin-top: 16%;
    margin-bottom: 0%;
    width: 100%;
}