$fontsizes:(
    tituloh2: 3em,
    tituloh3: 2em,
    textobody: 1em,
    textofooter: 1em,
);
$tituloh2: map-get($fontsizes, tituloh2);
$tituloh3: map-get($fontsizes, tituloh3);
$textobody: map-get($fontsizes, textobody);
$textofooter: map-get($fontsizes, textofooter);