/*TABLET MEDIA QUERY*/
@media only screen and (min-width: 640px){
    @media (hover:none), (-webkit-transform: none), (-moz-transform: none), (-ms-high-contrast: none) {
        body{
            font-size: $textobody/1.1;
            margin-left: 0;
        }
        body h2{
            font-size: $tituloh2/1.2;
            margin-bottom: 6%;
            color: $fucsia;
        }
        body h3{
            font-size: $tituloh3/1.2;
            margin-bottom: 5%;
            color: $verde;
        }
        section{
            margin-bottom: 30px;
        }
        article{
            margin-bottom: 30px;
        }
        /*Logo del menú*/
        .logo-en-menu{
            margin-top: 5px;
            margin-left: 5px;
            width: 35px;
            &:hover{
                animation: none;
                transform: none;
            }
        }
        /*Título Tranki Punki*/
        .titulo-sin-animacion{
            width: 300px;
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
        body{
            width: 100%;
        }
        /*Menú*/
        .dropdown-toggle{
            margin-bottom: -10px;
        }
        a.dropdown-item{
            color:$fucsia;
            font-size: 15px;
            text-align: center;
            margin-left: auto;
            margin-bottom: 3px;
        }
        /*PÁGINA BIO*/
        /*Grid*/
        .seccion-integrantes{
            margin-bottom: 10%;
            main{
                width:75%;
            }
        }
        /*EFECTO PUSHUP BIO GRID*/
        figure.pushup{
            figcaption {
                opacity: 0;
            }
            &:hover img {
                transform: none;
                opacity: 1;
            }
        }
        /*PÁGINA MÚSICA*/
        .section-musica{
            margin-bottom: -20px;
            .bloque{
                .iframe-musica{
                    margin-top: 5%;
                    margin-bottom: 7%;
                    border: 0; 
                    width: 340px;
                    height: 460px;
                }
            }
        }
        /*PÁGINA VÍDEOS*/
        .videos{
            margin-bottom: 15px;
            @include encasillado(center);
            .cada-video{
            margin-bottom: 15px;
            max-width: 90%;
            padding: 5%, 5%, 5%, 5%;
            }
        }
        /*PÁGINA PRENSA*/
        .texto-en-bloque{
            margin-left: 5%;
            margin-right: 5%;
            font-size: $textobody;
            text-align: center;
        }
        /*GRID PRENSA*/
        .seccion-prensa{
            margin-bottom: 160px;
            margin-left: 0px;
            margin-right: 0px;
            .prensa-main{
                grid-row-gap: 50px;
                margin-top: 60px;
                margin-bottom: 80px;
                grid-template-columns: 5% 45% 45% 5%;
            }
            .prensa-link-width{
                width:70%;
            }
        }
        /*CONTACTO FORMULARIO*/
        .seccion-contacto{
            margin-left: 5%;
            margin-right: 5%;
            .formulario{
                font-size: $textobody;
                .textarea-width{
                    width: 600px;
                }
                .boton-formulario{
                    padding: 5px 32px;
                    margin-top: 10px;
                    text-align: center;
                    font-size: $textobody;
                }
            }
        }
        /*FOOTER*/
        footer{
            color: $verde;
            font-size: $textofooter;
            margin-top: 0%;
            .texto-derechos{
                color: $fucsia;
                margin-top: -1%;
                margin-bottom: 3%;
            }
        }
}
}