/*TABLET MEDIA QUERY LANDSCAPE*/
@media only screen and (min-width: 640px) and (max-width: 1024px) and (orientation: landscape) {
    a.dropdown-item{
        color:$fucsia;
        font-size: 15px;
        text-align: right;
        margin-left: -55px;
        margin-bottom: 3px;
    }
}