/*PÁGINA MÚSICA*/
.section-musica{
    .bloque{
        @include encasillado (space-evenly);
        .iframe-musica{
            margin-top: 10%;
            margin-bottom: 10%;
            border: 0; 
            width: 500px;
            height: 620px;
            &:hover{
                @include escalar;
            }
        }
    }
}