@media only screen and (min-width:768px) and (orientation: landscape){
    /*ESTILOS GENERALES*/
        /*Fuentes y secciones*/
        body{
            font-size: $textobody;
            margin-left: 0;
        }
        body h2{
            font-size: $tituloh2;
            margin-bottom: 4%;
            color: $fucsia;
        }
        body h3{
            font-size: $tituloh3;
            margin-bottom: 2%;
            color: $verde;
        }
        section{
            margin-bottom: 30px;
        }
        article{
            margin-bottom: 30px;
        }
        /*Logo del menú*/
        .menu-con-bootstrap{
                        .logo-tp{
                            display:block;
                            margin-top: 15px;
                            margin-left: 15px;
                            width: 45px;
                            @include sacudir
                        }
                    }
        /*Menú*/
        .dropdown-toggle{
            margin-bottom: -10px;
        }
        a.dropdown-item{
            color:$fucsia;
            font-size: 11px;
            text-align: left;
            margin-left: -6px;
            margin-bottom: 3px;
        }
        /*Titulo imagen*/
        .titulo{
            .titulo-tp{
                display:block;
                margin-left: auto;
                margin-right: auto;
                width: 500px;
                padding-top: 3rem;
                padding-bottom: 1rem;
            }
        }
    /*PÁGINA INDEX*/
        /*Video background*/
        .video-del-background{
            margin-bottom: -20%;
            .video{
                opacity:1;
            }
        }
        .container-fluid{
            margin-top: -1%;
            .contenedor-del-titulo-animado{
                .row{
                    .titulo-animado{
                        margin-top: auto;
                        margin-bottom: auto;
                        width:75%;
                    }
                }
            }
                /*Vídeo y Player de música*/
            .audio-player{
                position: absolute;
                bottom: 0;
                left: 0;
                padding-left: 5px;
                padding-right: 5px;
                z-index: 0;
                width: 100%;
            }
        }
    
    
    /*BIO*/
        /*Grid*/
        .seccion-integrantes{
            margin-bottom: 5%;
            main{
                width:78%;
            }
        }
            /*Captions*/
            /*Efecto pushup eliminado*/
            figure.pushup{
                &:hover img {
                    -moz-transform: none;
                    -webkit-transform: none;
                    transform: none;
                    opacity: 1;
                }
                &:hover figcaption{
                    -moz-transform: none;
                    -webkit-transform: none;
                    transform: none;
                    -moz-transition: none;
                    -webkit-transition: none;
                    transition: none;
                }
            }
    /*PÁGINA MÚSICA*/
        .section-musica{
            margin-bottom: -50px;
            .bloque{
                .iframe-musica{
                    margin-top: 5%;
                    margin-bottom: 7%;
                    border: 0; 
                    width: 560px;
                    height: 700px;
                    @include escalar
                }
            }
        }
    /*PÁGINA VÍDEOS*/
    .section-videos{
        margin-bottom: 5%;
    }
        .videos{
            @include encasillado(center);
            .cada-video{
                padding: 1%;
                @include escalar;
            }
        }
    /*PÁGINA PRENSA*/
        .texto-en-bloque{
            margin-left: 13.5%;
            margin-right: 10%;
            font-size: $textobody;
            text-align: left;
        }
        /*Grid Prensa*/
        .seccion-prensa{
            margin-left: 0px;
            margin-right: 0px;
            .prensa-main{
                grid-row-gap: 50px;
                margin-top: 5%;
                margin-bottom: 10%;
                grid-template-columns: 5% 45% 45% 5%;
            }
            .prensa-link-width{
                width:80%;
                @include escalar
            }
        }
    /*PÁGINA GALERÍA*/
    .seccion-galeria{
        margin-bottom: 5%;
    }
    .texto-en-bloque-galeria{
        margin-bottom: 3%;
        margin-left: 10%;
        margin-right: 10%;
        font-size: $textobody;
        text-align: center;
    }
    /*PÁGINA CONTACTO*/
        /*Formulario*/
        .seccion-contacto{
            margin-left: 5%;
            margin-right: 5%;
            margin-bottom: 0%;
            .formulario{
                font-size: $textobody;
                .textarea-width{
                    width: 620px;
                }
                .boton-formulario{
                    padding: 5px 32px;
                    margin-top: 10px;
                    text-align: center;
                    font-size: $textobody;
                }
            }
        }
/*FOOTER*/
footer{
    .pie-tp{
            display:block;
            position: absolute;
            bottom: -300px;
            left: 0;
            z-index:0;
            width: 99%;
            h1{
                font-size: $tituloh1/1.3;
            }
            .color-verde{
                font-size: $textofooter;
                color: $verde;
                margin-bottom: 5px;
            }
            .color-fucsia{
                font-size: $textofooter*1.3;
                color: $fucsia;
                font-weight: bold;
                text-decoration-line: none;
                &:hover{
                    color:$fucsia;
                }
            }
            .color-blanco{
                font-size: $textofooter;
                color: $blanco;
            }
        .nav-del-footer{
            .nav-del-footer-main{
                display: grid;
                margin-left: 20%;
                margin-right: 30%;
                margin-top: 3%;
                margin-bottom: 5%;
                grid-template-columns: 10% 10% 16% 16% 14% 18% 16%;
                grid-template-rows: 100%;
                grid-row-gap: 50px;
                grid-column-gap: 10px;
            .inicio-li{
                grid-column-start: 1; 
                grid-row-start: 1;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .bio-li{
                grid-column-start: 2;  
                grid-row-start: 1;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .musica-li{
                grid-column-start: 3;  
                grid-row-start: 1;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .videos-li{
                grid-column-start: 4;  
                grid-row-start: 1;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .galeria-li{
                grid-column-start: 5;  
                grid-row-start: 1;
                display: flex;
                align-items: center;
                justify-content: center;        
            }
            .prensa-li{
                grid-column-start: 6;  
                grid-row-start: 1;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .contacto-li{
                grid-column-start: 7;  
                grid-row-start: 1;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .footer-nav-link{
                font-size: $textofooter*1.0.5;
                color:gray;
                text-decoration-line:none;
                &:hover{
                    color:$fucsia;
                }
            }
        }
        }
        .rrss{
            margin-top: 5%;
            margin-bottom: 5%;
            margin-left: 20%;
            margin-right: 20%;
            .rrss-width{
                width: 40%;
                @include nohover
            }
        }
    }
}
}
    
